/*button that changes when item is added to cart, *shopMenus.html*/
#finalizeButton {
  background-color:   #2a4a7c;
  color: white;
  border-radius: 5px;
}
/*-----------------------*/

/*acceptPurchase.html*/
#checkMark2 {
  top: 0.85in;
  left: 0.33in;
  width: 0.5in;
}

.acceptPurchaseText {
  margin-top: 0.1in;
}

.acceptPurchaseText2 {
  margin-top: 0.1in;
  color: #ed3936;
  text-align: center;
}
/*-----------------------*/

/*amountSelection.html buttons*/
.optionsPurchase{
	width: 0.5in;
	background-color:	#282828;
	border: none;
	color: white;
	padding: 0.04in 0in;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 0.13in;
	margin-left: 0.05in;
	border-radius: 5px;
	position: relative;
	margin-top:0.65in;
  display: none;
}

.optionsPurchase2 {
	width: 0.5in;
	background-color:	#282828;
	border: none;
	color: white;
	padding: 0.04in 0in;
	text-align: center;
	text-decoration: none;
	font-size: 0.13in;
	margin-left: 0.05in;
	border-radius: 5px;
	position: relative;
  display: none;
}

.optionsPurchase3 {
	width: 0.5in;
	background-color:	#282828;
	border: none;
	color: white;
	padding: 0.04in 0in;
	text-align: center;
	text-decoration: none;
	font-size: 0.13in;
	margin-left: 0.05in;
	border-radius: 5px;
	position: relative;
  display: "inline";
}

#confirmButton {
  background-color:	#282828;
}

#denyButton {
  margin-left: 0in;
  background-color:	#282828;
}
/*-------------------------*/

.menuButtonsPurchase {
	width: 1.05in;
	background-color:	#282828;
	border: none;
	color: white;
	padding: 0.03in;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 0.14in;
	margin: 2px 2px;
	border-radius: 8px;
}

#purchaseText {
  text-align: center;
  font-size: 15px;
  margin: 0px;
  padding: 0.08in;
}

#purchaseText2 {
  text-align: center;
  font-size: 15px;
  margin: 0px;
  padding: 0.08in;
  color: white;
  font-weight: bold;
}

#preco2 {
	text-align: center;
	font-size: 0.13in;
	color: #e0e2e5;
	margin-top: 0.02in;
	visibility: hidden;
}

#saldo2 {
	text-align: center;
	font-size: 0.13in;
	color: #e0e2e5;
	margin-top: 0.02in;
	visibility: hidden;
}

/*conta.html buttons*/

#carregarSaldo {
  position: relative;
  top: 0.23in;
  left: 0.05in;
  width: 1in;
  height: 0.4in;
  background-color: #282828;
  border: none;
  color: white;
  text-align: right;
  display: inline-block;
  border-radius: 5px;
  font-size: 0.15in;
}

#money{
  position: relative;
  float: left;

  width: 0.6cm;
  height: 0.6cm;
}

#saldoConta{
  text-align: center;
  font-size: 0.18in;
  color:white;
  margin-top: 0.05in;
}

#carregar{
  position: relative;
  top: 0.05cm;
}

/* carrgarSaldo.html */

.prices {
  position: absolute;
  top: 0.4in;
  width: 0.45in;
  background-color: #282828;
  color: white;
  padding: 0.10in;
  text-align: center;
  font-size: 0.14in;
  margin: 3px 3px;
  border-radius: 10px;
  border: grey solid 2px;
  display: inline-block;
}

#priceLeft {
  left: 0.05in;
}

#priceRight {
  left: 0.57in;
}

#priceDLeft {
  left: 0.05in;
  top: 0.9in;
}

#priceDRight {
  left: 0.57in;
  top: 0.9in;
}
