/* Estilo CSS */
body
{
	background-repeat: no-repeat;
	background-size: cover;
	background:url('./assets/background.jpg');
}

h1 {
	color:#000;
}

.main_screen {
	margin: auto;
	background-color: black;
	background-size: cover;
	margin-top: 2in;
	border-style: solid;
	border-radius: 8px;
	position: relative;
	width: 1.1in;
	height: 1.4in;
}

#status_bar {
	height: 15px;
	width: 101px;
	font-family: "Arial";
	font-size: 80%;
	font-weight: 600;
	color:#a3a3a3;

}

.imgclass {
	width: 1.2cm;
	height: 1.3cm;
}

p {
	color: white;
}

.scrollbar {
	max-width: 1.1in;
	max-height: 1.2in;
  overflow-y: scroll;
}

#scrollbar-style::-webkit-scrollbar {
    width: 6px;
		border-radius: 20px;
}

#scrollbar-style::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #101010;
}

#scrollbar-style::-webkit-scrollbar-track {
		border-radius: 500px;
    -webkit-box-shadow: inset 0 0 6px rgba(168,168,168,1);
    background-color: #A8A8A8;
}

.menuButtons {
	width: 1in;
	background-color:	#282828;
	border: none;
	color: white;
	padding: 0.1in;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 0.14in;
	margin: 4px 2px;
	border-radius: 10px;
}

#notifications {
	position: absolute;
	top: 0.5cm;
	left: 0cm;
}

#orders {
	position: absolute;
	top: 0.5cm;
	right: 0.1cm;
}

#localization {
	position: absolute;
	bottom: 0.1cm;
	left: 0cm;
}

#settings {
	position: absolute;
	bottom: 0.1cm;
	right: 0.1cm;
}

#backButton {
	background-color: #000;
	width: 0.3cm;
	height: 0.5cm;
	position: absolute;
	top: 0.2cm;
	left: -0.3cm;
	border-radius:3px;
}

#clock {
	float:right;
}


#scrollButton {
	background-color: #000;
	width: 0.3cm;
	height: 0.8cm;
	position: absolute;
	top: 0.53in;
	right: -0.3cm;
	border-radius:3px;
}
